:root {
    --main-blue: #0081AF;
    --second-blue: #00ABE7;
    --main-black: #171D1C;
    --second-black: #474b4a;
    --third-black: #2a2c2c;
    --main-orange: #db921b;
    --main-white: #ffffff;
}

* {
    font-family: "Roboto", Verdana;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-color: var(--main-black);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-black);
    height: 20vh;
    position: sticky;
    top: 0;
    position: relative;
    overflow: visible;
    z-index: 10
}

#textTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: auto
}

h1 {
    background-image: linear-gradient(to left, var(--main-blue), var(--main-blue) 35%, var(--main-orange) 65%, var(--main-orange));
    color: transparent;
    background-clip: text;
    font-size: 3.2rem;
    margin: 22px 10px;
    font-weight: 900;
}

#textTitle svg {
    width: 80px;
    height: 80px;
}

#textTitle svg g {
    fill: var(--main-orange)
}

#toolbar {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    margin-right: 35px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

#toolbar-btn {
    display: none !important;
}

#toolbar-btn svg path{
    fill: var(--second-black);
}

#toolbar button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-black)
}

#toolbar button:hover {
    cursor: pointer;
}

#toolbar button svg, #toolbar button img {
    width: 65px;
    height: 65px;
    transition: all 0.5s ease;
}

#resetBtn:hover img {
    transform: rotate(360deg) scale(1.1);
}

#switchThemeBtn svg {
    transform: scale(0.8);
}

#switchThemeBtn svg path {
    fill: var(--second-black) !important
}

#switchThemeBtn:hover svg {
    transform: scale(1);
}

.chat-container {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    margin: none;
    background-color: none;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    max-height: 70%;
    padding: 25px;
}

#chat-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: sticky;
    bottom: 0;
    background-color: var(--main-black);
    padding: 6vh 0px;
    max-height: 15vh;
}

#user-input {
    padding: 0px 15px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 1rem;
    height: 70px;
    width: 50%;
    background-color: var(--second-black);
    color: var(--main-white);
    font-weight: 400;
}

#user-input::placeholder {
    color: var(--main-white)
}

.bouton {
    background-color: var(--main-blue);
    color: var(--main-white);
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton:hover {
    background-color: var(--second-blue)
}

.bouton img {
    width: 70px
}

.userMessage {
    display: flex;
    justify-content: right;
    text-align: right;
    word-wrap: break-word;
    background-clip: padding-box;
    width: 100%;
    color: var(--main-white);
    margin-top: 0px;
    animation: messageTransition 0.25s ease;
}

.userMessage .textElementsContainer {
    width: min(65%, max(40%, fit-content));
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: var(--main-blue);
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    font-size: 1.2rem
}

.messageDate {
    word-wrap: normal;
    font-style: italic;
    font-weight: 200;
    font-size: 0.8rem;
}

.botMessage {
    display: flex;
    justify-content: left;
    text-align: left;
    word-wrap: break-word;
    background-clip: padding-box;
    width: 100%;
    color: var(--main-white);
    margin-top: 20px;
    animation: messageTransition 0.25s ease;
}

.botMessage .textElementsContainer {
    width: min(65%, max(40%, fit-content));
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: var(--main-orange);
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    font-size: 1.2rem
}

.textTail {
    width: 20px;
    margin: 0px 15px;
    transform: translateY(-5px);
}

.messageDate {
    padding: 5px 10px;
    display: inline;
    color: var(--main-white);
    font-weight: 400;
}

.botMessage .messageDate {
    float: right
}

.userMessage .messageDate {
    float: left
}

.spinner {
    width: 60px;
    height: 60px;
    border: 15px solid var(--second-black);
    border-radius: 50%;
    border-left: 15px solid var(--main-orange);
    animation: spinAnimation 0.8s ease infinite;
}

#loading-indicator {
    transition: all 0.5s ease;
    animation: fadeIn 0.5s ease
}

.fadeOutLoader {
    opacity: 0
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes messageTransition {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spinAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .chat-container {
        width: 100%
    }

    #user-input {
        width: 75%;
    }

    .bouton {
        width: 20%;
    }

    #title {
        justify-content: flex-start;
        overflow: visible !important;
    }

    #textTitle {
        margin-left: 15px
    }

    #textTitle h1 {
        margin: 0;
    }

    #resetBtn, #switchThemeBtn{
        display: none !important;
    }

    #toolbar-btn{
        display: block !important;
        transform: scale(75%);
        transition: transform 0.3s ease;
    }

    #toolbar-btn:hover{
        transform: scale(90%);
    }

    .bouton img {
        transform: scale(85%)
    }
}

@media (max-width: 480px) {

    .userMessage .textElementsContainer,
    .botMessage .textElementsContainer {
        font-size: 1.3rem
    }

    #title h1 {
        font-size: 10vw;
    }

    #textTitle {
        margin: 0;
        margin-left: 10px;
        justify-content: flex-start !important;
    }

    #textTitle svg{
        width: 15vw
    }

    #toolbar {
        margin-right: 10px;
    }

    .bouton img {
        transform: scale(70%)
    }
}

.hidden-toolbar{
    display: none !important
}

#mobile-toolbar-container{
    position: absolute;
    top: 110%;
    z-index: 10;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: none;
    border-radius: 25px;
    overflow: hidden;
    border: 5px solid var(--second-black);
    max-width: 80vw;
}

#mobile-toolbar-container button:not(:first-child){
    border-top: 5px solid var(--second-black);
}

#mobile-toolbar-container button{
    width: 100%;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

#mobile-toolbar-container button:hover{
    background-color: var(--third-black);
}

#mobile-toolbar-container button p{
    color: var(--second-black);
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    margin: 0px 10px
}

#mobile-toolbar-container button svg path{
    fill: var(--second-black)
}

html[data-theme="light"] {
    --main-blue: #0081AF;
    --second-blue: #00ABE7;
    --main-black: #dfdfdf;
    --second-black: #b6b6b6;
    --third-black: #949494;
    --main-orange: #db921b;
    --main-white: #000000;
}