:root {
    --main-blue: #0081AF;
    --second-blue: #00ABE7;
    --main-black: #171D1C;
    --second-black: #474b4a;
    --main-orange: #db921b;
}

* {
    font-family: "Roboto", Verdana;
    box-sizing: border-box;
}

body {
    background-color: var(--main-black);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-black);
    height: 20vh;
    position: sticky;
    top: 0;
    position: relative;
}

#textTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: auto
}

h1 {
    background-image: linear-gradient(to left, var(--main-blue), var(--main-blue) 35%, var(--main-orange) 65%, var(--main-orange));
    color: transparent;
    background-clip: text;
    font-size: 3.2rem;
    margin: 22px 10px;
    font-weight: 900;
}

svg {
    width: 80px;
    height: 80px;
}

svg g {
    fill: var(--main-orange)
}

#resetBtn {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    margin-right: 35px;
    border-radius: 65px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-black);
}

#resetBtn:hover{
    cursor: pointer;
}

#resetBtn img {
    width: 65px;
    height: 65px;
    transition: all 0.5s ease;
}

#resetBtn:hover img{
    transform: rotate(360deg) scale(1.1);
}

.chat-container {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    margin: none;
    background-color: none;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    max-height: 70%;
    padding: 25px;
}

#chat-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: sticky;
    bottom: 0;
    background-color: var(--main-black);
    padding: 6vh 0px;
    max-height: 15vh;
}

#user-input {
    padding: 0px 15px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 1rem;
    height: 70px;
    width: 50%;
    background-color: var(--second-black);
    color: white;
    font-weight: 400;
}

.bouton {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton:hover {
    background-color: var(--second-blue)
}

.bouton img {
    width: 70px
}

.userMessage {
    display: flex;
    justify-content: right;
    text-align: right;
    word-wrap: break-word;
    background-clip: padding-box;
    width: 100%;
    color: white;
    margin-top: 0px;
    animation: messageTransition 0.5s ease;
}

.userMessage .textElementsContainer {
    width: min(65%, max(40%, fit-content));
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: var(--main-blue);
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    font-size: 1.2rem
}

.messageDate {
    word-wrap: normal;
    font-style: italic;
    font-weight: 200;
    font-size: 0.8rem;
}

.botMessage {
    display: flex;
    justify-content: left;
    text-align: left;
    word-wrap: break-word;
    background-clip: padding-box;
    width: 100%;
    color: white;
    margin-top: 20px;
    animation: messageTransition 0.5s ease;
}

.botMessage .textElementsContainer {
    width: min(65%, max(40%, fit-content));
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: var(--main-orange);
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    font-size: 1.2rem
}

.textTail {
    width: 20px;
    margin: 0px 15px;
    transform: translateY(-5px);
}

.messageDate {
    padding: 5px 10px;
    display: inline;
}

.botMessage .messageDate {
    float: right
}

.userMessage .messageDate {
    float: left
}

.loader-hidden{
    opacity: 0 !important
}

.spinner{
    width: 60px;
    height: 60px;
    border: 15px solid var(--second-black);
    border-radius: 50%;
    border-left: 15px solid var(--main-orange);
    animation: spinAnimation 0.8s ease infinite;
}

@keyframes messageTransition {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spinAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .chat-container {
        width: 100%
    }

    #user-input {
        width: 75%;
    }

    .bouton {
        width: 20%;
    }

    #title {
        justify-content: flex-start;
    }

    #textTitle {
        margin-left: 15px
    }

    #textTitle h1 {
        margin-left: 0;
    }
}

@media (max-width: 480px) {

    .userMessage .textElementsContainer,
    .botMessage .textElementsContainer {
        font-size: 1.3rem
    }

    #title {
        padding: 0 10px;
    }

    #title h1 {
        font-size: 2.5rem;
    }

    #textTitle {
        margin: 0;
        margin-left: 15px;
    }

    #resetBtn {
        margin-right: 10px;
    }

    #resetBtn img {
        transform: scale(70%);
    }

    .bouton img {
        transform: scale(70%)
    }
}